$bg-body: #0e0c0c;
$main-color:#48f1e3;
$txt-color: #fff;

$box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
$header-height:6rem;
$header-shrink-height:5rem;
$border-radius: 30px;
$mobile-width:600px;
$tablet-width:1024px;

$font-family:'Open Sans', sans-serif;



